*.iml
.gradle
/MoudleTest
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/lixyz/lifekeeperforkotlin/utils/Constant.kt
/app/src/main/java/com/lixyz/lifekeeperforkotlin/utils/StringUtil.kt
/app/src/main/java/com/lixyz/lifekeeperforkotlin/MyApplication.kt
*.log
*.cer
*.p12
*.bks
/app/src/main/java/com/lixyz/lifekeeperforkotlin/test/
